body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: none;
  background-color: rgb(0, 0, 0);
}
.input{
  margin-top: 14px;
  display: grid;
  grid-template-columns: 68PX 68PX 68PX 68PX;
  gap: 5px;
  justify-content: center; 
}
.input-c-btn{
  border: none;
  height: 68px;
  border-radius: 50%;
  background-color: rgb(59, 74, 81);
  color: red;
  font-size: 28px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.input-btn{
  border: none;
  height: 68px;
  border-radius: 50%;
  background-color: rgb(59, 74, 81);
  color: rgb(137, 218, 253);
  font-size: 28px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.1s;
}
.back-space-btn{
  border: none;
  height: 40px;
  width: 40px; 
  position: relative;
  left: 225px;
  display: block;
  background-image: url('delete-blue.png');
  background-size: 35Px;
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 10px;
}

.input-equalto-btn{
  border: none;
  height: 68px;
  border-radius: 50%;
  background-color: rgb(87, 132, 255);
  color: rgb(255, 255, 255);
  font-size: 28px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.1s;
}
.abc {
  margin-top: 30px;
  background-color: #1f282b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 30px;
  padding: 25px;
}

.calculation-p{
  border: none;
  border-radius: 0px;
  height: 58px;
  display: block;
  width: 280px;
  text-align: right;
  margin: 0px;
  font-size: 39px;
  font-family: Segoe UI, Courier, monospace;
  overflow: hidden;
  color: rgb(137, 218, 253);
  white-space: nowrap;
}

.answer-p{
  border: none;
  border-radius: 0px;
  height: 42px;
  display: block;
  width: 280px;
  text-align: end;
  margin: 0px;
  font-family: Segoe UI, Courier, monospace;
  color: rgb(91, 144, 167);
  border-bottom: rgb(59, 74, 81) solid 1px;
  font-size: 25px;
}
.output{
  padding-top: 28px;
}
.input-btn:hover,.input-c-btn:hover{
    background-color: rgb(84, 100, 105);
}
.input-btn:active{
    background-color: rgb(54, 61, 62);
}
.input-equalto-btn:hover{
  background-color: rgb(135, 166, 252);
}
.input-equalto-btn:active{
  background-color: rgb(255, 255, 255);
  color: rgb(87, 132, 255);
}
.input-c-btn:active{
  background-color: rgb(75, 51, 51);
  color: white
}
.back-space-btn:hover{
  background-image: url('delete-hower.png');
}
.back-space-btn:active{
  background-image: url('delete-white.png');
}
